# Files

In [1]:
fhand = open('mbox-short.txt', 'r')

for line in fhand:
    if line.startswith('From:'):
        print(line)
        
fhand.close()

From: stephen.marquard@uct.ac.za

From: louis@media.berkeley.edu

From: zqian@umich.edu

From: rjlowe@iupui.edu

From: zqian@umich.edu

From: rjlowe@iupui.edu

From: cwen@iupui.edu

From: cwen@iupui.edu

From: gsilver@umich.edu

From: gsilver@umich.edu

From: zqian@umich.edu

From: gsilver@umich.edu

From: wagnermr@iupui.edu

From: zqian@umich.edu

From: antranig@caret.cam.ac.uk

From: gopal.ramasammycook@gmail.com

From: david.horwitz@uct.ac.za

From: david.horwitz@uct.ac.za

From: david.horwitz@uct.ac.za

From: david.horwitz@uct.ac.za

From: stephen.marquard@uct.ac.za

From: louis@media.berkeley.edu

From: louis@media.berkeley.edu

From: ray@media.berkeley.edu

From: cwen@iupui.edu

From: cwen@iupui.edu

From: cwen@iupui.edu

### But why all the extra blank lines? Let's fix those:

In [2]:
fhand = open('mbox-short.txt', 'r')
for line in fhand:
    line = line.rstrip()
    if line.startswith('From:'):
        print(line)
fhand.close()

From: stephen.marquard@uct.ac.za
From: louis@media.berkeley.edu
From: zqian@umich.edu
From: rjlowe@iupui.edu
From: zqian@umich.edu
From: rjlowe@iupui.edu
From: cwen@iupui.edu
From: cwen@iupui.edu
From: gsilver@umich.edu
From: gsilver@umich.edu
From: zqian@umich.edu
From: gsilver@umich.edu
From: wagnermr@iupui.edu
From: zqian@umich.edu
From: antranig@caret.cam.ac.uk
From: gopal.ramasammycook@gmail.com
From: david.horwitz@uct.ac.za
From: david.horwitz@uct.ac.za
From: david.horwitz@uct.ac.za
From: david.horwitz@uct.ac.za
From: stephen.marquard@uct.ac.za
From: louis@media.berkeley.edu
From: louis@media.berkeley.edu
From: ray@media.berkeley.edu
From: cwen@iupui.edu
From: cwen@iupui.edu
From: cwen@iupui.edu

In [3]:
fname = input('Enter the file name:  ')
fhand = open(fname)
count = 0
for line in fhand:
    if line.startswith('Subject:') :
        count = count + 1
print('There were', count, 'subject lines in', fname)
fhand.close()

Enter the file name:   mbox.txt

There were 1797 subject lines in mbox.txt

### Robust file reading and writing

In [4]:
in_filename = 'mbox.txt'
out_filename = 'mbox-subject.txt' # 'mbox-subject.txt' # 'foo/bar.txt'

try:
    f_in = open(in_filename, 'r')
except:
    print("Can't open file", in_filename)
else: 
    try: 
        f_out = open(out_filename,'w')
    except: 
        print("Can't write to file", out_filename)
    else:
        count = 0
        for line in f_in:
            if line.startswith('Subject:') :
                count = count + 1
                f_out.write(line)
        print ('There were', count, 'subject lines written', out_filename)
    finally:
        f_out.close()
finally: 
    f_in.close()

There were 1797 subject lines written mbox-subject.txt

### More elegant file reading and writing using `with`

In [5]:
in_filename = 'mbox-short.txt' # 'foo'
out_filename = 'mbox-subject.txt' # 'foo/bar' 
count = 0

with open(in_filename, 'r') as f_in, open(out_filename,'w') as f_out :
    for line in f_in:
        if line.startswith('Subject:') :
            count = count + 1
            f_out.write(line)
    print ('There were', count, 'subject lines written', out_filename)

There were 27 subject lines written mbox-subject.txt

## read() : returns the whole file as a string

In [6]:
in_filename = "mbox.txt"
f_in = open(in_filename, 'r')
file_contents = f_in.read()
f_in.close()

In [7]:
print(len(file_contents))
file_contents[:200]

6687002

'From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008\nReturn-Path: <postmaster@collab.sakaiproject.org>\nReceived: from murder (mail.umich.edu [141.211.14.90])\n\t by frankenstein.mail.umich.edu (Cyru'

Note the newlines and the tabs

In [8]:
print(file_contents[:200])

From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008
Return-Path: <postmaster@collab.sakaiproject.org>
Received: from murder (mail.umich.edu [141.211.14.90])
	 by frankenstein.mail.umich.edu (Cyru

## readlines(): returns the lines of the file in a list

In [9]:
f = open('mbox-short.txt')
# returns complete lines of the first 1000 bytes
file_lines = f.readlines(1000)
print(f'The first 1000 bytes span {len(file_lines)} lines')
file_lines

The first 1000 bytes span 22 lines

['From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008\n',
 'Return-Path: <postmaster@collab.sakaiproject.org>\n',
 'Received: from murder (mail.umich.edu [141.211.14.90])\n',
 '\t by frankenstein.mail.umich.edu (Cyrus v2.3.8) with LMTPA;\n',
 '\t Sat, 05 Jan 2008 09:14:16 -0500\n',
 'X-Sieve: CMU Sieve 2.3\n',
 'Received: from murder ([unix socket])\n',
 '\t by mail.umich.edu (Cyrus v2.2.12) with LMTPA;\n',
 '\t Sat, 05 Jan 2008 09:14:16 -0500\n',
 'Received: from holes.mr.itd.umich.edu (holes.mr.itd.umich.edu [141.211.14.79])\n',
 '\tby flawless.mail.umich.edu () with ESMTP id m05EEFR1013674;\n',
 '\tSat, 5 Jan 2008 09:14:15 -0500\n',
 'Received: FROM paploo.uhi.ac.uk (app1.prod.collab.uhi.ac.uk [194.35.219.184])\n',
 '\tBY holes.mr.itd.umich.edu ID 477F90B0.2DB2F.12494 ; \n',
 '\t 5 Jan 2008 09:14:10 -0500\n',
 'Received: from paploo.uhi.ac.uk (localhost [127.0.0.1])\n',
 '\tby paploo.uhi.ac.uk (Postfix) with ESMTP id 5F919BC2F2;\n',
 '\tSat,  5 Jan 2008 14:10:05 +0000 (GMT)\n',
 'Message-ID: <200801051412.m05ECIaH010327@nakamura.uits.iupui.edu>\n',
 'Mime-Version: 1.0\n',
 'Content-Transfer-Encoding: 7bit\n',
 'Received: from prod.collab.uhi.ac.uk ([194.35.219.182])\n']

In [10]:
lengths = [len(line) for line in file_lines]
print(lengths)
sum(lengths)

[57, 50, 55, 60, 34, 23, 38, 48, 34, 79, 61, 32, 78, 54, 28, 56, 57, 39, 66, 18, 32, 56]

1055

In [11]:
len(''.join(file_lines))

1055

### Common pitfalls

In [12]:
import os
 
os.getcwd()  # check in which directory you are

'/Users/ambite/Documents/USC/classes/DSCI-510/DSCI-510-Spring-2024-Ambite/Week4-files-lists'

# Lists

In [13]:
list1 = [3, 1, 0]
list2 = list1
list2[2] = 999
list1

[3, 1, 999]

### Shallow vs Deep Copying

#### Shallow Copy: `x1 = x[:] ` or `x2 = x.copy()`

In [14]:
x = [1,[2,3],4]
x1 = x[:]  
x2 = x.copy()

In [15]:
print(x == x1)
print(x == x2)
print(x1 == x2)

True
True
True

In [16]:
print(x is x1)
print(x is x2)
print(x1 is x2)

False
False
False

In [17]:
x[0] = 77
print(x)
print(x1)
print(x2)

[77, [2, 3], 4]
[1, [2, 3], 4]
[1, [2, 3], 4]

In [18]:
x[1][0] = 99
print(x)
print(x1)
print(x2)

[77, [99, 3], 4]
[1, [99, 3], 4]
[1, [99, 3], 4]

#### Deep Copy: `x3 = copy.deepcopy(x)`

In [19]:
import copy

x = [1,[2,3],4]
x3 = copy.deepcopy(x)

In [20]:
x == x3

True

In [21]:
x is x3

False

In [22]:
x[1][0] = 99
print(x)
print(x3)

[1, [99, 3], 4]
[1, [2, 3], 4]

### Sorting Lists

In [23]:
list1 = [3, 1, 0]
list2 = ['book', 'apple', 'store']
list3 = [[3, 'book'], [1, 'orange'], [1, 'apple'], [0, 'store']]

In [24]:
list1.sort()
print ('list1 sorted is', list1)
list2.sort()
print ('list2 sorted is', list2)
list3.sort()
print ('list3 sorted is', list3)

list1 sorted is [0, 1, 3]
list2 sorted is ['apple', 'book', 'store']
list3 sorted is [[0, 'store'], [1, 'apple'], [1, 'orange'], [3, 'book']]

.sort() method is destructive! The lists have changed!

In [25]:
print(list1)
print(list2)
print(list3)

[0, 1, 3]
['apple', 'book', 'store']
[[0, 'store'], [1, 'apple'], [1, 'orange'], [3, 'book']]

In [26]:
list4 = [3, 'apple', [0, 'store']]
list4.sort()
print ('list4 sorted is', list4)

TypeError: '<' not supported between instances of 'str' and 'int'

sort needs the items need to be comparable

In [27]:
nested = [[1,[2,'b']], [1,[2,'a']], [2,[1,'b']], [2,[1,'a']], [2,[1,'A']]]

In [28]:
nested.sort()
print(nested)

[[1, [2, 'a']], [1, [2, 'b']], [2, [1, 'A']], [2, [1, 'a']], [2, [1, 'b']]]

### Splitting strings

In [29]:
# splitting on whitespace: multiple spaces are treated like one delimiter
abc = 'With     three             words'
abc.split()

['With', 'three', 'words']

In [30]:
abc = 'With three words'
first = abc.split()
second = abc.split('t')
print(first)
print(second) # note the delimeter is gone!

['With', 'three', 'words']
['Wi', 'h ', 'hree words']

#### Careful with tabs

In [31]:
row = '1\t2\t3'
print(row)

1	2	3

In [32]:
row.split()

['1', '2', '3']

In [33]:
row2 = '1\t2\t\t\t3'

In [34]:
print(row2)

1	2			3

In [35]:
row2.split('\t')

['1', '2', '', '', '3']

In [36]:
row2.split()

['1', '2', '3']

## Double Split

In [37]:
line = 'From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008'

In [38]:
words = line.split()
words

['From', 'stephen.marquard@uct.ac.za', 'Sat', 'Jan', '5', '09:14:16', '2008']

In [39]:
email = words[1]
email

'stephen.marquard@uct.ac.za'

In [40]:
email_parts = email.split('@')
email_parts

['stephen.marquard', 'uct.ac.za']

In [41]:
user_name, host = email.split('@')
print(user_name)
print(host)

stephen.marquard
uct.ac.za

In [42]:
host_parts = host.split('.')
host_parts

['uct', 'ac', 'za']

In [43]:
country_code = host_parts[-1]
country_code

'za'

### You could combine all this in one line 
(obscure: not necessarily recommended)

In [44]:
line.split()[1].split('@')[1].split('.')[-1]

'za'

## List Methods

In [45]:
x = [3,4,5]

In [46]:
x.append(6)
x

[3, 4, 5, 6]

In [47]:
x.append([7,8,9])
x

[3, 4, 5, 6, [7, 8, 9]]

In [48]:
x.extend([10,11,12])
x

[3, 4, 5, 6, [7, 8, 9], 10, 11, 12]

In [49]:
x.insert(2,11)
x

[3, 4, 11, 5, 6, [7, 8, 9], 10, 11, 12]

In [50]:
x.count(11)

2

In [51]:
x.count(8)

0

list.index(element, start, end)
- element - the element to be searched
- start (optional) - start searching from this index
- end (optional) - search the element up to this index

In [52]:
x.index(11)

2

In [53]:
x.index(11, 3)

7

In [54]:
x.remove(4)
x

[3, 11, 5, 6, [7, 8, 9], 10, 11, 12]

In [55]:
x.index(11)

1

In [56]:
y = x.pop()
print(x)
print(y)

[3, 11, 5, 6, [7, 8, 9], 10, 11]
12

In [57]:
x.sort()

TypeError: '<' not supported between instances of 'list' and 'int'

In [58]:
x.reverse()
x

[11, 10, [7, 8, 9], 11, 6, 5, 3]

In [59]:
x.pop(2)
print(x)

[11, 10, 11, 6, 5, 3]

In [60]:
x.sort()
x

[3, 5, 6, 10, 11, 11]

## List Comprehensions

In [61]:
print([x for x in range(1000) if x % 17 == 0] )

[0, 17, 34, 51, 68, 85, 102, 119, 136, 153, 170, 187, 204, 221, 238, 255, 272, 289, 306, 323, 340, 357, 374, 391, 408, 425, 442, 459, 476, 493, 510, 527, 544, 561, 578, 595, 612, 629, 646, 663, 680, 697, 714, 731, 748, 765, 782, 799, 816, 833, 850, 867, 884, 901, 918, 935, 952, 969, 986]

## Functions on Iterables

### map

In [62]:
l = ["My", "NASA", "project"] 
list(map(str.lower, l))

['my', 'nasa', 'project']

In [63]:
for i in map(len, l):
    print(i, end=' ')
l

2 4 7

['My', 'NASA', 'project']

### zip

In [64]:
husbands = ("Alexander", "Ben", "Charles")
wives = ("Abigail", "Barbara", "Christine") 
list(zip(husbands, wives))

[('Alexander', 'Abigail'), ('Ben', 'Barbara'), ('Charles', 'Christine')]

In [65]:
list(zip(wives, range(len(wives))))

[('Abigail', 0), ('Barbara', 1), ('Christine', 2)]

In [66]:
for w, i in zip(wives, range(3)):
    print(w,i)

Abigail 0
Barbara 1
Christine 2

### enumerate

In [67]:
months = ("January", "February", "March", "April")
list(enumerate(months, 1)) # start at 1 instead of the 0 default

[(1, 'January'), (2, 'February'), (3, 'March'), (4, 'April')]

In [68]:
for i, month in enumerate(months, 1):
    print(i, month)

1 January
2 February
3 March
4 April

# Exceptions

In [69]:
my_list = [1, "hi", 3.4]
try:
    string_input = input("Enter an index between 0 and 2: ")   
    int_input = int(string_input)
    
    # We are using the input we received as an index to a list
    modified_input = my_list[int_input] + 1
    
# This will catch errors to the int(string_input) clause, if we don't enter an integer
except ValueError:
    print("You didn't enter an integer!")
# This will catch errors to the my_list[int_input] clause, if our index is out of range (0, 1 or 2)
except IndexError:
    print("Your index was out of range!")
# This will catch errors in the my_list[int_input] + 1 clause, if what's returned from the list can't be used in integer addition
except TypeError:
    print("Something was the wrong type!")
else:
    print("Your new input is:", modified_input)
finally:
    print("We're all done!")

Enter an index between 0 and 2:  0

Your new input is: 2
We're all done!