In [1]:
I come in peace, please take me to your leader

SyntaxError: invalid syntax (75604273.py, line 1)

In [2]:
print('Hello world!')

Hello world!

In [6]:
print('You must be the legendary god that comes from the sky)

SyntaxError: unterminated string literal (detected at line 1) (2991257777.py, line 1)

In [7]:
print('We have been waiting for you for a long time')

We have been waiting for you for a long time

In [8]:
print('Our legend says you will be very tasty with mustard')

Our legend says you will be very tasty with mustard

In [9]:
print('We will have a feast tonight unless you say')

We will have a feast tonight unless you say

In [10]:
x = 6
print(x)

6

In [11]:
print(X)

NameError: name 'X' is not defined

In [12]:
y = x * 7
print(y)

42

In [13]:
x

6

Back to Slides
.
.
.
.
.
.

In [14]:
sval = '123'
sval = sval + 1

TypeError: can only concatenate str (not "int") to str

In [15]:
a = '123'
b = '3'
print(a + b)

1233

In [16]:
ival = int(sval)
ival = ival + 1
print(ival)

124

In [17]:
newsval = 'Hello Bob!'
newival = int(newsval)
print(newival)

ValueError: invalid literal for int() with base 10: 'Hello Bob!'

In [18]:
nam = input('Who are you? ')
print ('Welcome', nam)

Who are you? Jose-Luis
Welcome Jose-Luis

In [20]:
inp = input('Europe floor? ')
usf = int(inp) + 1
print ('US floor', usf)

Europe floor? 12
US floor 13

Write a program to prompt the user for hours and rate per hour to compute gross pay. For example:

Enter Hours: 35

Enter Rate: 2.75

Pay: 96.25

.

.

.

.

.

In [21]:
Hours = input('Enter Hours: ')
Rate = input('Enter Rate: ')
Hours = float(Hours)
Rate = float(Rate)
Pay = Hours * Rate
#print ("Pay:", Hours * Rate)
print("Pay:", Pay)

Enter Hours: 100
Enter Rate: 50
Pay: 5000.0

In [22]:
print(Pay)

5000.0